.preview-img {
    display: flex;
    justify-content: center;
    z-index: 9;
}

.preview-img__img {
    margin-top: -211px;
    width: 1050px;
    height: 423px;
    z-index: 9;

    @include mediaLaptop {
        width: 950px;
        height: 381px;
        margin-top: -169px;
    }

    @include mediaTablet {
        margin-top: 0;
        width: 100%;
        height: auto;
    }
}